.static_content_page_wrapper {
  padding-block: $section_block_padding * 1.5 $section_block_padding;
  background: linear-gradient(rgba(177, 162, 204, 0.6), rgba(177, 162, 204, 0.4), transparent);

  .page_header_wrapper {
    @include flex(center, center, column);
    .page_title {
      @include font($bold_font, 1.8rem);
      text-transform: capitalize;
      @include flex(center, center);
      column-gap: 0.8rem;
    }
  
    .page_desc {
      margin-block: 1rem 3rem !important;
      color: var(--gray_theme_clr);
      font-size: 1.1rem;
      text-align: center;
      max-width: 45%;
    }
  }

  .page_content_wrapper {
    padding: 2rem;
    background-color: var(--theme_main_bg);
    border-radius: 8px;
  }

  @include media(md) {
    padding-block: $section_block_padding * 0.5;
    .page_header_wrapper {
      .page_title {
        font-size: 1.4rem;
      }
    
      .page_desc {
        margin-block: 0.8rem 1.5rem !important;
        font-size: 1rem;
        max-width: 100%;
      }
    }

    .page_content_wrapper {
      padding: 1rem;
    }
  }
}
